/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  background-color: #0d0729;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #0d0729;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo {
  color: #7D4AED;
  font-size: 24px;
  font-weight: bold;
}
.logo:hover {
  color: #7D4AED;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links li a {
  color: #fff;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #7D4AED; /* Purple */
}

.login-btn {
  padding: 8px 20px;
  background-color: #fff;
  color: #0d0729;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login-btn:hover {
  background-color: #7D4AED;
  color: #fff;
}

/* Hero Section */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  gap: 30px;
}

.hero-content {
  max-width: 50%;
  text-align: left;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content .highlight {
  color: #6e44ff;
}

.hero-content p {
  margin-bottom: 20px;
  font-size: 18px;
  color: #c9d1d9;
}

.create-btn {
  background-color: #6e44ff;
  color: #ffffff;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.create-btn:hover {
  background-color: #5936cc;
}

.hero-image img {
  max-width: 60%;
  height: auto;
  border-radius: 10px;
  float: right;
  margin-top: 50px;
}
