<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_forgot.css') }}">
</head>
<body>
  <div class="forgot-container">
    <!-- Portfoliogy Logo -->
    <div class="logo">
      PORTFOLOGY
    </div>

    <h1>Forgot your password?</h1>

    <form class="forgot-form">
      <input type="email" placeholder="Email address" required>
      <button type="submit" class="forgot-btn">Send my password</button>
        <a href="/login">Back to login</a>
    </form>
  </div>
</body>
</html>